@model ProjektMVCdotnet8.Entities.ContactEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ContactEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic" class="control-label"></label>
                <input asp-for="Topic" class="form-control" />
                <span asp-validation-for="Topic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactType" class="control-label"></label>
                <input asp-for="ContactType" class="form-control" />
                <span asp-validation-for="ContactType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactContent" class="control-label"></label>
                <input asp-for="ContactContent" class="form-control" />
                <span asp-validation-for="ContactContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactDate" class="control-label"></label>
                <input asp-for="ContactDate" class="form-control" />
                <span asp-validation-for="ContactDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
