@model ProjektMVCdotnet8.Entities.ReportPostEntity

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Szczegóły zgłoszenia:</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Treść zgłoszenia:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportContent)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Id zgłoszonego postu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postId)
            @{
                int repPost = Model.postId;
            }
            <a asp-controller="PostEntities" asp-action="Details" asp-route-id="@repPost">Obejrzyj post</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Powrót do panelu</a>
</div>
