@model IEnumerable<ProjektMVCdotnet8.Entities.ReportPostEntity>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Zgłoszone posty:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id zgłoszonego postu:
            </th>
            <th>
                Treść zgłoszenia:
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.postId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ReportContent)
            </td>
            <td>
                    <ul class="list-group">
                        <li class="list-group-item"><a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> </li>
                        <li class="list-group-item">  <a asp-action="Delete" asp-route-id="@item.Id">Usuń ze zgłoszonych</a></li>
                    </ul>
            </td>
        </tr>
}
    </tbody>
</table>
