@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie przesłanie maila resetującego hasło";
}
<div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <h1>@ViewData["Title"]</h1>
        <h3>Mail został wysłany. Sprawdź swoją skrzynkę odbiorczą, aby zresetować hasło.</h3>
    </div>
</div>