@using Microsoft.AspNetCore.Identity
@using ProjektMVCdotnet8.Areas.Identity.Data
@using ProjektMVCdotnet8.Areas.Identity.Pages.Account.Manage
@using ProjektMVCdotnet8.Entities
@model IEnumerable<ProjektMVCdotnet8.Entities.BlockedUserEntity>

<h1 class="display-4">Lista zablokowanych:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Awatar
            </th>
            <th>
                Nazwa użytkownika
            </th>
            <th>
                Email
            </th>
            <th>
                Opcje
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            
            string str = "/attachments/" + item.BlockedUser.Avatar;     
            <tr>
                <td>
                    <a href="@Url.Action("Profile", "User", new { username = item.BlockedUser.UserName })" style="text-decoration: none;">
                        <img src=@str class=" awatar rounded-circle img-fluid border border-2 border-primary img-link" alt="Alternate Text" />
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlockedUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BlockedUser.Email)
                </td>
                <td>
                    <a asp-controller="User" asp-action="UnBlock" asp-route-id="@item.Id" class="link-success">Odblokuj</a>
                </td>
            </tr>
        }
    </tbody>
