@page
@model IndexModel
@{
    ViewData["Title"] = "Zarządzaj Profilem Użytkownika";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Podaj swój numer telefonu."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Country" class="form-select" onchange="handleCountryChange(this)">
                    <option value="Wybierz kraj">Wybierz kraj</option>
                    <option value="Polska">Polska</option>
                    <option value="USA">USA</option>
                    <option value="Niemcy">Niemcy</option>
                    <option value="Anglia">Anglia</option>
                    <option value="Francja">Francja</option>
                    <option value="Rosja">Rosja</option>
                </select>
                <label asp-for="Input.Country" class="form-label"></label>
            </div>

            <script>
                function handleCountryChange(select) {
                    if (select.value === 'Wybierz kraj') {
                        document.getElementById('@Html.IdFor(model => model.Input.Country)').value = null;
                    }
                }
            </script>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Zapisz</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
