@model ProjektMVCdotnet8.Models.PostModel
@{
    ViewData["Title"] = "AddPost";
    
}

<h1>Dodaj Post</h1>
<form asp-controller="PostEntities" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-check mb-3">
        Wybierz kategorie postu.<br>
        @foreach (var category in ViewBag.nameCategory)
        {
            <label>
                <input type="checkbox" name="SelectedCategories" value="@category.Id"> @category.CategoryName
            </label>

            <br />
        }
        <div class="invalid-feedback">
            proszę wybrac przynajmniej jedną kategorię.
        </div>
    </div>
   

    <div class="form-group">
        <label asp-for="PostContent" class="control-label"></label>
        <input asp-for="PostContent" class="form-control" />
        <span asp-validation-for="PostContent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AttachmentSource" class="control-label"></label>
        <input asp-for="AttachmentSource" class="form-control" accept="image/*"/>
        <span asp-validation-for="AttachmentSource" class="text-danger" ></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

