@using Microsoft.AspNetCore.Identity;
@using ProjektMVCdotnet8.Areas.Identity.Data;
@model ProjektMVCdotnet8.Models.PostModel
@{
    ViewData["Title"] = "AddPost";

    var SignInManager = Context.RequestServices.GetService(typeof(SignInManager<UserEntity>)) as SignInManager<UserEntity>;
    var loggedInUser = await SignInManager.UserManager.GetUserAsync(User);
}

<h1 class="display-4">Dodaj Post:</h1>
<form asp-controller="Post" asp-action="CreatePost" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label">Tytuł:</label>
        <input asp-for="Title" class="form-control" required />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    @if (!string.IsNullOrEmpty(loggedInUser?.City))
    {
        <div class="form-group" style="margin-bottom: 20px;">
            <label>
                <input type="checkbox" name="isLocal" value="true"> <strong>Lokalnie</strong>
            </label>
        </div>
    }
    Wybierz kategorie postu:
    <div class="form-check mb-3">

        @foreach (var category in ViewBag.nameCategory)
        {
            <label>
                <input type="checkbox" name="SelectedCategories" value="@category.Id"> @category.CategoryName
            </label>
            <br />
        }
        <div class="invalid-feedback">
            proszę wybrac przynajmniej jedną kategorię.
        </div>

    </div>

    <div class="form-group">
        <label asp-for="PostContent" class="control-label">Treść postu:</label>
        <textarea asp-for="PostContent" class="form-control" rows="6" required> </textarea>
        <span asp-validation-for="PostContent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AttachmentSource" class="control-label">Dodaj obraz:</label>
        <input asp-for="AttachmentSource" class="form-control" accept="image/*" onchange="previewAttachment(event)" />
        <span asp-validation-for="AttachmentSource" class="text-danger"></span>
        <img id="attachment-preview" src="#" style="display:none; max-width: 100px; margin-top: 10px;" />
    </div>

    <div class="form-group">
        <input type="submit" value="Utwórz" class="btn btn-primary" />
    </div>
</form>

<script>
    function previewAttachment(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var preview = document.getElementById('attachment-preview');
            preview.src = reader.result;
            preview.style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
    }
</script>