@model IEnumerable<ProjektMVCdotnet8.Entities.MessageEntity>



@{
    ViewData["Title"] = "Chat";
}

<style>
    .chat-container {
        height: calc(85vh - 56px); /* 100% wysokości ekranu minus wysokość nagłówka */
    }

    .messages-container {
        height: calc(85vh - 150px); /* Ustawienie wysokości na 100% wysokości okna minus 150px (wysokość nagłówka, stopki itp.) */
        overflow-y: auto; /* Dodanie przewijania, jeśli zawartość przekracza wysokość */
    }
</style>

<div class="container-fluid flex-grow-1 chat-container">
    <div class="row flex-grow-1">
        <div class="col-md-3 bg-light border"> <!-- Dodana klasa border -->
            <div class="list-group mt-3 h-100">
                <a href="#" class="list-group-item list-group-item-action">Znajomy 1</a>
                <a href="#" class="list-group-item list-group-item-action">Znajomy 2</a>
                <a href="#" class="list-group-item list-group-item-action">Znajomy 3</a>
                <!-- Lista znajomych -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="card h-80">
                <div class="card-header bg-primary text-white">
                    Chat z Nazwa Osoby
                </div>
                <div class="card-footer">
                    <div class="messages-container">
                        <!-- Wyswietlanie wiadomosci -->
                        @foreach (var item in Model)
                        {
                            <td>
                                @Html.DisplayFor(modelItem => item.MessageContent)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SendDate)
                            </td>
                            <br></br>
                        }
                    </div>
                    <div>
                        <!-- Wysylanie wiadomosci -->
                        @{
                            <form method="post" asp-controller="MessageEntities" asp-action="Create">
                                <div class="form-group">
                                    <label asp-for="@Model.ElementAt(0).MessageContent" class="control-label">Treść wiadomości</label>
                                    <input asp-for="@Model.ElementAt(0).MessageContent" class="form-control" value="" placeholder="Wpisz treść wiadomości..." required />
                                    <input type="submit" value="Wyślij" class="btn btn-primary" />
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
