@{
    ViewData["Title"] = "Contact";
}
@model ProjektMVCdotnet8.Entities.ContactEntity
<div class="container">
  <div class="row">

    <div class="col">
            <h1 class="display-4">Kontakt</h1>

            <form asp-controller="ContactEntities" asp-action="Create">

                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type=email asp-for="Email" class="form-control" required/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="ContactType">Wybierz typ zgłoszenia:</label>
                    <select id="ContactType" name="ContactType" class="form-control">
                        <option>Znalazłem błąd</option>
                        <option>Strona nie działa</option>
                        <option>Propozycja zmian</option>
                        <option>Chciałbym podzielić się swoją opinią</option>
                        <option>Inne</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Topic">Temat:</label>
                    <input asp-for="Topic" class="form-control" required />
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="ContactContext">Wiadomość:</label>
                    <textarea asp-for="ContactContent" class="form-control" rows="6" required> </textarea>
                    <span asp-validation-for="ContactContent" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Wyślij" class="btn btn-primary" />
                    <input type="reset" value="Wyczyść" class="btn btn-default" />
                </div>

            </form>

    </div>


    <div class="col">
            <h1 class="display-4">Częste problemy:</h1>

            <div style=" margin-top: 30px">
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Nie moge połączyć się ze stroną</p>
                        <small>- spróbuj odświerzyć stronę</small>
                    </li>
                    <li class="list-group-item">
                        <p>Dodawanie postów nie działa</p>
                        <small>- to wina Weryka</small>
                    </li>
                    <li class="list-group-item">
                        <p>Mój post zniknął</p>
                        <small>- to wina Eryka</small>
                    </li>
                    <li class="list-group-item">
                        <p>Nie moge zalogować się na konto</p>
                        <small>- to wina Matiego</small>
                    </li>
                </ul>
            </div>
          
    </div>
  </div>
