@{
    ViewData["Title"] = "Contact";
}
@model ProjektMVCdotnet8.Entities.ContactEntity
<div class="container">
  <div class="row">

    <div class="col">
            <h1 class="display-4">Kontakt</h1>
            <form asp-controller="Home" asp-action="ThxForContact" method="post">
                <div class="form-group">
                    <label for="Email">E-mail:</label>
                    <input type="email" id="Email" name="Email" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="ContactType">Wybierz typ zgłoszenia</label>
                    <select id="ContactType" name="ContactType" class="form-control">
                        <option>Znalazłem błąd</option>
                        <option>Strona nie działa</option>
                        <option>Propozycja zmian</option>
                        <option>Chciałbym podzielić się swoją opinią</option>
                        <option>Inne</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="Topic">Temat:</label>
                    <input type="text" id="Topic" name="Topic" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="ContactContent">Wiadomość:</label>
                    <textarea id="ContactContent" name="ContactContent" class="form-control" rows="6" required></textarea>
                </div>
                <div style="margin-top: 10px">
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                    <button type="reset" class="btn btn-default">Wyczyść</button>
                </div>
            </form>

            <form asp-controller="ContactEntities" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Topic" class="control-label"></label>
                    <input asp-for="Topic" class="form-control" />
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactType" class="control-label"></label>
                    <input asp-for="ContactType" class="form-control" />
                    <span asp-validation-for="ContactType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactContent" class="control-label"></label>
                    <input asp-for="ContactContent" class="form-control" />
                    <span asp-validation-for="ContactContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactDate" class="control-label"></label>
                    <input asp-for="ContactDate" class="form-control" />
                    <span asp-validation-for="ContactDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
    </div>

    <div class="col">
            <h1 class="display-4">Częste problemy:</h1>

            <div style=" margin-top: 30px">
                <ul class="list-group">
                    <li class="list-group-item">Nie moge połączyć się ze stroną</li>
                    <li class="list-group-item">Dodawanie postów nie działa</li>
                    <li class="list-group-item">Mój post zniknął</li>
                    <li class="list-group-item">Nie moge zalogować się na konto</li>
                </ul>
            </div>
          
    </div>

  </div>
