@{
    ViewData["Title"] = "Login";
}

<form method="post">
    <h1>Logowanie</h1>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <button type="submit">Zaloguj się</button>
    <p>Nie pamiętasz hasła? <a href="PasswordRecovery">Odzyskaj hasło</a></p>
    <p>Nie masz konta? <a href="Register">Zarejestruj się</a></p>
</form>
