@{
    ViewData["Title"] = "Login";
}

<style>
    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            display: block;
        }

        .form-group input[type="email"],
        .form-group input[type="password"] {
            width: 50%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

            .form-group input[type="email"]:focus,
            .form-group input[type="password"]:focus {
                outline: none;
                border-color: #007bff;
            }

        .form-group button[type="submit"] {
            width: 50%;
            padding: 10px;
            background-color: #007bff;
            border: none;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }
</style>

<form method="post">
    <h1 class="display-4">Logowanie</h1>
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
    </div>
    <div class="form-group">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div class="form-group">
        <button type="submit">Zaloguj się</button>
    </div>
    <div class="form-group">
            <p>Nie pamiętasz hasła? <a href="PasswordRecovery">Odzyskaj hasło</a></p>
            <p>Nie masz konta? <a href="Register">Zarejestruj się</a></p>
        </div>
    </div>
</form>