@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="display-1">Polityka prywatności:</h1>

<ol>
    <li>
        Róbta co chce ta to tylko projekt na studia.
    </li>
    <li>
        Strefa wolna od szamba.
    </li>
</ol>

