@{
    ViewData["Title"] = "ThxForReport";
}

<div class="text-center">
    <h1 class="display-4">Dziękujemy za zgłoszenie</h1>
</div>

<div class="text-center">
    <a asp-action="Index">Powrót do strony głównej</a>
</div>

