@{
    ViewData["Title"] = "ThxForContact";
}

@model ProjektMVCdotnet8.Models.ContactModel

<div class="text-center">
    <h1 class="display-4">Thanks For Contact</h1>
</div>

<div class="text-center">
    <p>E-mail: @Model.Email</p>
    <p>Typ: @Model.ContactType</p>
    <p>Temat: @Model.Topic</p>
    <p>Wiadomość: @Model.ContactContent</p>
</div>

<div class="text-center">
    <a asp-action="Index">Powrót do strony głównej</a>
</div>
