@model IEnumerable<ProjektMVCdotnet8.Entities.CategoryEntity>
@foreach (var element in Model)
{
    <li>
        @Html.ActionLink(element.CategoryName, "Index", "Post", new { Information = element.CategoryName, Site = "Index" }, new { @class = "dropdown-item" })
    </li>
}
